.title {
    padding-left: 120px;
    padding-top: 30vh;
    font-size: 55px;
    color: white;
    position: fixed;
}
#body {
    padding: 0px;
    margin: 0px;
    font-family: helvetica;
}