.badgey {
            height: 100px; 
            background-color: #424242;
            border-right: 20px solid transparent;
            border-top: 10px solid #4b6ca3;
            border-left: 20px solid transparent;
            margin-bottom: 0;
}
.orabutton {
    background-color: orange;
    color: black;
    float: right;
    border-style: none;
    font-size: 15px;
    width: 125px;
    margin-right: 110px;
    transform: skewX(-21deg);
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    padding: 10px
        }
        .orabutton:hover {
            background-color: #af6600;
            transition: 0.3s;
            cursor: pointer;
        }